footer.footer 
	.container 
		.row 
			.col 
				.footer__box 
					.footer__company.company-footer 
						span.company-footer__name Инвестиционная группа компаний СФЕРА
						.company-footer__box 
							img.company-footer__logo(src="img/logo_sphere_color.svg", alt="logo")
							span.company-footer__copyright © 2021 «Сфера»
					.footer__social.social
						a(href="") 
							img(src="img/icon_instagram.svg", alt="footer_icon")
						a(href="")
							img(src="img/icon_facebook.svg", alt="footer_icon")
						a(href="")
							img(src="img/icon_youtube.svg", alt="footer_icon")
						a(href="")
							img(src="img/icon_vk.svg", alt="footer_icon")
					
		.row 
			.col 
				.footer__political.political 
					a.political__link(href="") Политика использования cookies 
					a.political__link(href="") Политика обработки персональных данных